/* barra navegacion */
.dropdown-menu>li:hover {
    background-color: #0033FF;
    color:white;
}
/* Fin barra navegacion */

/* Tamaño fijo de los input-group-addon */
.input-group-addon,.form-inline .input-group .input-group-addon { width: 20%; }
.input-group { width: 100%; }
/* Fin tamaño */

/* Ocultar-mostrar formularios */
.oculto{
    display: none;
}
.capaVisible{
    display: block;
}
/* Fin Ocultar formularios */

/* pie */
#pie{
    margin-top: 30px ;
    padding-top: 15px;
    background-color: black;
    color:white;
}
/* Fin pie */